<!--The content below is only a placeholder and can be replaced.-->
<div class="row" style="margin:5px;">  
  <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">
      <ul class="list-group">
          <li class="list-group-item">
            <h1><input type="Text" placeholder="Frage" class="form-control" [(ngModel)]="question" maxlength="255"></h1>
          </li>
          <li class="list-group-item"  *ngFor="let choice of choices">
            <input #ChoiceInput="ngModel" type="Text" placeholder="Antwortmöglichkeit" class="form-control" [(ngModel)]="choice.Choice" (focus)="checkList(ChoiceInput.touched)" maxlength="140">
          </li>    
      </ul>
      <button type="button" class="btn btn-primary" (click)="createSurvey()">Senden</button>
  </div> <!-- /container -->
</div>
